/* ---RESET--- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---GENERAL--- */


a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Dosis:300,600");
body {
	font-family: "Open Sans",sans-serif;
	color:#616771;
	font-weight:300;
	font-size: 15px;
	line-height: 1.9;
}

.clearfix {
	clear: both;
}

.inwrapp {
	width: 1120px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}




.top-bar {
	height: 50px;
	padding-top: 30px;
	overflow: hidden;
}

.top-bar-logo {
	float: left;
}

.top-bar-nav {
	float: right;
}

.top-bar-nav ul li {
	display: inline-block;
	margin-right: 25px;
}

.top-bar-nav ul li a {    /* .top-bar-nav ul li a:first-child {....} is not working !!!!  ?????????????? */
	color: #a9b3ba;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.top-bar-nav ul li a:hover {
	color: #fff;
}

.top-bar-nav ul li:last-child {
	margin-right: 0;
}

.outwrapp-header {
	background-image: url("../images/space.png");
	height: 100vh;
	background-color: #345269;
}


.huge-title {
	margin: 110px 0 40px;
}

.huge-title p {
	font-size: 50px;
	color: #fff;

}

.huge-title p span {
	color: #0facf3;
}

.thesaas-subtitle {
	color: #fff;
	font-size: 20px;
	margin: 30px 0;
}

.thesaas-subtitle p span {
	font-weight: bold;
}

.hr-line hr {
	border-top-color: #688eac;
	width: 60px;
	margin: 0 auto;
	opacity: 0.3;
}

.header-big-button {
	width: 350px;
	height: 65px;
	background-color: #0facf3;
	margin-top: 80px;
	border: none;
	border-radius: 32px;
	outline: none;
	cursor: pointer;
}

.header-big-button a {
	font-size: 20px;
	color: #fff;
}

.header-big-button-subtitle {
	margin: 40px 0 30px;
}

.header-big-button-subtitle a {
	font-size: 12px;
	color: #b5b9bf;
}

.scrolldown-button .fa-angle-down {
	font-size: 50px;
	color: #a9b3ba;
	opacity: 0.3;
}

/* ---end of header--- */

/* ---sample--- */

.sample {
	overflow: hidden;
	padding-bottom: 60px;
	outline: 1px solid lightgreen;
}

.additional-title {
	font-size: 11px;
	letter-spacing: 1px;
	opacity: 0.7;
	text-transform: uppercase;
	margin: 100px 0 36px;
}

.main-title h2 {
	font-size: 32px;
	color: #37404d;
	font-weight: normal;
	text-transform: capitalize;
}

.main-text {
	font-size: 17px;
	margin:70px 0;
	color: #a9b3ba;
}

.image-description {
	margin-top: 24px;
}
.image-description p {
	color: #a9b3ba;
}


.img-block {
	width: 350px;
	height: 255px;
	outline: 1px solid purple;
}

.img-block img {
	width: 100%;
}

.gallery-image-block {
	margin: 0 11px 50px;
	float: left;
	outline: 1px solid red;
}

/* ---end of sample--- */

/* ---header varietis--- */

.outwrapp-varietis {
	background-color: #f8f8f8;
}

.header-varietis {
	outline: 1px solid blue;
}

.section-nav {

}

.section-nav ul {
	width: 840px;
    height: 34px;
    border: 1px solid #616771;
    border-radius: 32px;
    margin: 0 auto;
    overflow: hidden;
}

.section-nav ul li{
	display: inline-block;
    outline: 1px solid purple;
    width: 136px;
}

.section-nav ul li:hover {
	background-color: #616771;
	cursor: pointer;
}

.section-nav ul li a {
	color: #616771;
	text-transform: uppercase;
}

.varieties-picture {
	width: 600px;
	height: 400px;
	margin: 60px auto 0;
	outline: 1px solid red;
}

.varieties-picture img {
	width: 100%
}

/* ---end of header-varietis--- */

/* ---full faster--- */

.full-faster{
	outline: 1px solid lightblue;
}

.full-content-block {
	display: inline-block;
	margin:0 60px;
}

.full-gallery {
	margin-top: 70px;
	background-color: lightyellow;
	outline: 1px solid yellow;
}

.full-galery-image {
	width: 280px;
	height: 187px;
	display: inline-block;
}

.full-galery-image:nth-child(2) {
	width: 350px;
	height: 233px;
	margin: 0 65px;
}

.full-galery-image img {
	width: 100%;
}

/* --- end of full faster--- */

/* ---get it now--- */

.get-it-now {
	outline: 1px solid green;
	overflow: hidden;
	padding-bottom: 140px;
}

.get-it-now h2, .get-it-now p, .get-it-now a {    /* what kinde of shorthand to use  ??????????????? */
	color: #fbf5fd;
}

.get-it-now .main-text {
	width: 790px;
	margin: 70px auto;
}

.get-it-now-outwrapp {
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.get-it-now-big-button {
	width: 250px;
	height: 50px;
	background-color: #0facf3;
	border: none;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.get-it-now-big-button a {
	font-size: 14px;
	color: #fff;
}

.or-purchase {
	margin-top: 10px;
}

/* ---end of get it now--- */

/* ---get it now--- */

.features {
	outline: 1px solid red;
}

.tablet-pic {
	width: 800px;
	height: 414px;
	margin: 0 auto;
	outline: 1px solid black;
}

.tablet-pic img {
	width: 100%;
}

.features-content {
	width: 1050px;
	margin: 60px auto;
	outline: 1px solid green;
	overflow: hidden;
}

.features-content-block {
	width: 350px;
	height: 190px;
	float: left;
	outline: 1px solid blue;
}

.features-content-block h3 {
	margin: 22px 0 32px;
}

.features-content-block i {
	font-size: 25px;
}


















