

/*MEDIA min-700px max-900px*/
@media all and (min-width:700px) and (max-width:900px){
.container-center{
 width:670px;
 max-width:100%;
}
.header-top-bar-container {
 text-align:center;
}
.header-nav-menu-container{
 display:none;
}
.landing-pages-text-container{
 width:325px;
}
.landing-pages-images-container{
 text-align:center;
}
.landing-images-container{
 width:200px;
 height:200px;
}
.landing-pages-images-size-container{
 width:200px;
 height:130px;
}
.landing-pages-images-size-container a{
 width:200px;
 height:130px;
}
.header-varieties-nav-menu-container{
 padding:0px;
}
.header-varieties-menu-blocks a{
 padding:7px 30px;
}
.content-text-top-level-each-section {
 width:250px;
}
/*//////////////////////*/
.full-f-f-image-color, .full-f-f-image{
 width:120px;
}
.full-f-f-image-gradient{
 width:180px;
}
.futures-image-container{
 width:100%;
 padding-bottom:35px;
}
.responsive-options-text-container span{
 display:none;
}
.options-features{
 padding-bottom:35px;
}
/*///////////////*/
.template-customization-text-container,.template-customization-btn-container{
 display:block;
 padding:10px 0px;
 text-align:center;
 float:none;
}
}